.services h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
    text-transform: uppercase;
    font-size: 3.5em;
    font-weight: 300;
    animation:  animate5 5s;
    animation-fill-mode: forwards;

}
@keyframes animate5{
   0%{
        transform: translateY(40%);
   }
}

.row2{
    display: flex;
    margin-top: 10%;
    justify-content: space-around;
}
.col1{
    text-align: center;
    border: 2px solid #000;
    height:300px;
    width:500px;
    padding: 10px;
    background: rgba(165, 169, 173, 0.507);
    padding-top: 10%;
    transform: rotateX(30deg);
    animation: animate6 3s forwards;

}
.card-header2 p{
 text-align: center;
}
.col2{
    text-align: center;
    border: 2px solid #000;
    height:300px;
    width:500px;
    padding: 10px;
    background: rgba(165, 169, 173, 0.507);
    padding-top: 10%;
    transform: rotateX(30deg);
    animation: animate7 4s forwards;
}

@keyframes animate6 {
    0%{
        transform: translateY(40%);
    }
}


@keyframes animate7{
0%{
    transform: translateX(50%);
}
}